<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="helpdeskconn" connectionString="Data Source=(local);Initial Catalog=helpdesk;Integrated Security=True;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
    <add name="HelpDesk.Properties.Settings.helpdeskConnectionString"
      connectionString="Data Source=(local);Initial Catalog=helpdesk;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>